@charset "UTF-8";

body{
    background-image: url("https://cdn.pixabay.com/photo/2016/04/25/23/53/euro-1353420_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

section{
    width: 400px;
    min-height: 300px;
    margin: 100px auto;
    padding: 10px;
    background-color: rgba(184, 135, 11, 0.801);
    border-radius: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
}

span{
    margin: 10px;
    font-weight: bolder;
}

input{
    width: 100px;
    height: 25px;
    margin-bottom: 20px;
}

select{
    width: 100px;
    height: 30px;
    padding: 5px;
    font-weight: bold;
}

button{
    width: 150px;
    height: 40px;
    background-color: goldenrod;
    border: none;
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

button:hover{
    border: 2px solid darkgray;
}

#resultado{
    font-weight: bold;
}